body {
  background-color: white;

  
}

svg {
  border: 2px solid black;
  background-color: rgb(167, 165, 165);
}

.selected {
  fill: lightgray;
  stroke: white;
}

.boundary {
  fill: #d3d3d3;
  stroke: black;
  stroke-width: 1px; 
}

.hidden {
  display: none;
}

div.tooltip {
  color: #222; 
  background: #fff; 
  border-radius: 3px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  padding: .2em; 
  text-shadow: #f5f5f5 0 1px 0;
  opacity: 0.9; 
  position: absolute;
}
.idk{
  color: #f0f0f0;
}